<div class="footer-details">
  <div class="footer-left">
    <p>Tennessee Farmers Insurance Companies</p>
    <p>Tennessee Farmers Mutual Insurance Company</p>
    <p>Tennessee Farmers Life Insurance Company</p><br>
    <p>Post Office Box 307</p>
    <p style="margin-bottom: 21px;">Columbia, Tennessee 38402-0307</p>
  </div>

  <div class="footer-right">
    <!-- <p style="color: #333; font-weight: bold;">Tennessee Farmers Insurance Companies</p> -->
    <p style="font-weight: bold; color: #337ab7;">Need Help?</p>
    <p>Customer Service Center</p>
    <p class="fb-phone-footer"><span style="color:#dc180c; font-size: .75em;"><i class="fas fa-phone fa-flip-horizontal"></i></span>&nbsp;877-876-2222</p>
    <p>Mon-Fri 7<span style="font-variant: small-caps;">am</span> - 6<span style="font-variant: small-caps;">pm</span> - Sat 8<span style="font-variant: small-caps;">am</span> - 4<span style="font-variant: small-caps;">pm</span> (CST)</p>
    
    <p>Contact Us!</p>

    <div class="social-wrap" style="margin-top: 10px;">
      <a target="_blank" style="margin-right: 5px;" href="https://twitter.com/FarmerCharlie"><i class="fab fa-twitter socmed-icons"></i></a>
      <a target="_blank" style="margin-right: 5px;" href="https://www.facebook.com/FarmBureauInsuranceTennessee"><i class="fab fa-facebook-f socmed-icons"></i></a>
      <a target="_blank" style="margin-right: 5px;" href="http://www.youtube.com/user/FarmBureauCharlie"><i class="fab fa-youtube socmed-icons"></i></a>
    </div>
  </div>
</div>

<div id="footer-copy" class="row container fb-copy">
    <div class="col s12 m6" style="padding: 0px;">
      <p style="color: #333; font-weight: bold; padding: 0px;">&copy; Tennessee Farmers Insurance Companies 2018</p>
    </div>

    <div class="col s12 m6 right-align fb-terms">
        <p><a href="/terms-and-conditions" class="footer-link">Terms And Conditions </a> | <a href="/privacy-policy" class="footer-link">Privacy Policy</a></p>
      </div>
  </div>
