nav {
    background: linear-gradient(to bottom, #E21F1D 0%, #BC1817 40%, #A61414 100%) !important;
    height: 84px;
    padding: 0;
    border-radius: 5px;
}

nav li {
    font-size: 16px;
    letter-spacing: 1px;
    text-shadow: 0 -1px 1px #000000;
}
.nav-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fb-logo {
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0 1.5em 0 .25em;
}

@media only screen and (max-width: 992px) {
    .nav-wrapper {
        justify-content: space-between;
    }
}