<script>
  $(document).ready(function(){
    $('.sidenav').sidenav();
  });
</script>

<nav>
  <div class="nav-wrapper">
    <a href="#!" class="fb-logo"><img src="../../../assets/img/tfic-logo.png" alt="Farm Bureau Insurance"></a>
    
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Home</a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Billing</a></li>
      <li><a href="#">Claims</a></li>
      <li><a href="#">Documents</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Logout</a></li>
    </ul>

    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="#">Home</a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Billing</a></li>
      <li><a href="#">Claims</a></li>
      <li><a href="#">Documents</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Logout</a></li>
</ul>
